<h3>Summernote editor</h3>

<div>
  <button (click)="enableEditor()" [disabled]="!editorDisabled">Enable</button>
  <button (click)="disableEditor()" [disabled]="editorDisabled">Disable</button>
</div>

<div [formGroup]="form">
  <div formControlName="html" 
       [ngxSummernote]="config"
       [ngxSummernoteDisabled]="editorDisabled"
       (blur)="onBlur()">
   </div>
   <button type="button" (click)="savedata()">submit</button>
</div>

<h3>HTML</h3>
<div *ngIf="content">
<div [ngxSummernoteView]="content.data"></div>
</div>
<button type="button" (click)="retData()">get data</button>
